h1{
  text-align: center;
  background-color: blue;
}
hr{
  width: 500px;
  height: 150px;
  border: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url("music.jpg");
}

h2{
  text-align: center;
  font-size:48px;
  background
  width: 300px;
  height: 300px;
  border: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url("Adam.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.round{
  border-radius: 10%;
}
p{
  color: darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif
}
div{
  padding-top: 10px;
  padding-left: 20 px;
  padding-right: 40px;
}
img{
  max-width: 100%;
}
a:hover {color:green}